* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    padding-top: 80px; /* Para que el contenido no quede debajo del nav fijo */
}

/* NAVBAR BASE */
.navbar {
    background-color: rgba(20, 20, 20, 0.95);
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #333;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.nav-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-logo span {
    color: #4d94ff; /* El azul que venimos usando */
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-item {
    color: #bbb;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 0.95rem;
    transition: 0.3s;
}

.nav-item:hover {
    color: #4d94ff;
}

.btn-logout {
    background-color: #cc0000;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-logout:hover {
    background-color: #ff3333;
    color: white;
}

/* MENÚ HAMBURGUESA (Mobile) */
.menu-toggle {
    display: none; /* Oculto en PC */
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}


.nav-item.active {
    color: #4d94ff !important; /* El azul de tu marca */
    font-weight: bold;
    border-bottom: 2px solid #4d94ff; /* Una línea sutil debajo */
}


/* RESPONSIVE - MOBILE */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: -100%; /* Escondido a la derecha */
        flex-direction: column;
        background-color: #1a1a1a;
        width: 100%;
        height: calc(100vh - 70px);
        text-align: center;
        transition: 0.5s;
        padding-top: 50px;
    }

    .nav-links.active {
        right: 0; /* Aparece al clickear */
    }

    .nav-item {
        font-size: 1.2rem;
        padding: 20px;
        display: block;
        width: 100%;
    }
}